.contact {
    margin-top: 1rem;
}

.text {
    margin-top: 0.5rem;
    font-size: 20px;
    font-weight: bold;
    font-family: "PT serif";
}

.type {
    color: #a4a188;
    font-family: "PT serif";
}
