* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "PT serif", serif;
}

html {
    font-size: 15px;
    font-family: "PT serif", serif;
}

body {
    background-color: var(--light);
    font-family: "PT serif", serif;
}

@media (min-width: 350px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 700px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 19px;
    }
}

a {
    text-decoration: none;
    color: var(--light);
}

a:visited {
    color: var(--light);
}

hr {
    border: 1px solid #d8d8d8;
}

button {
    color: var(--light);
    background: transparent;

    outline: none;
    border: none;
    border-spacing: 0;
    box-shadow: none;
    text-shadow: none;

    font-family: inherit;
    text-decoration: none;
    text-indent: 0;

    cursor: pointer;
}

input {
    outline: none;
    border: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input::-moz-placeholder {
    font-family: "Playfair Display";
    font-size: 1rem;
}

textarea::-moz-placeholder {
    font-family: "Playfair Display";
    font-size: 1rem;
}

textarea {
    font-size: 1rem;
    font-family: "Playfair Display";
}

select {
    font-size: 1rem;
    font-family: "Playfair Display";
}

option {
    font-size: 1rem;
    font-family: "Playfair Display";
}

input[type="text"] {
    -webkit-appearance: none;
}

select {
    outline: none;
    border: none;
    box-shadow: none;
    text-indent: 0.5em;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    background-color: transparent;
}

select::-ms-expand {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: transparent;
    -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
    box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
    transition: background-color 5000s ease-in-out 0s;
}
